.hidden {
    display: none;
}

body {
    text-align: center;
    font-family: 'Terminator Real NFI', sans-serif;
}

.button {
    width: 15em;
    height: 4ex;
    background-color: black;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-family: 'Terminator Real NFI', sans-serif;
}

.button:hover {
    background-color: rgb(199, 189, 189);
    color: black;
    border: 3px solid black;
}